html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
}

/* 导航区域 */
.daohang ul {
    display: flex;
}

.daohang ul li {
    margin-top: 20px;
    line-height: 20px;
    margin-left: 20px;
    border-right: 2px solid white;
    padding-right: 20px;
    transition: transform 0.3s ease-in-out;
}

.daohang ul li a {
    color: white;
    font-size: 18px;
}

.daohang ul li a img {
    width: 30px;
    height: 30px;
}

.daohang ul li a span {
    display: inline-block;
    vertical-align: middle;
    margin-top: -22px;
    margin-left: 5px;
}

ul li:last-child {
    border-right: none;
}

.daohang ul li a:hover {
    padding-bottom: 7px;
    border-bottom: 2px solid #FFF;
}

/* 头像区域 */
.touxiang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.touxiang a img {
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 200px;
    height: 250px;
    transition: transform 0.3s ease-in-out;
}

.hover:hover {
    transform: scale(1.1);
    /* 当鼠标悬停在元素上时，将元素放大 1.2 倍 */
}

.touxiang h1 {
    color: red;
    font-size: 48px;
    font-style: italic;
}

/* 搜索区域 */
.touxiang .search {
    display: flex;
    margin-top: 15px;
    width: 750px;
    height: 65px;
    border: 3px solid black;
    border-radius: 50px;
}

/* 搜索框区域 */
.search input {
    flex: 1;
    border: 0;
    background-color: transparent;
    /* 去除焦点框 */
    outline: none;
    font-size: 32px;
    margin-left: 15px;
}

.search a {
    font-size: 3.5em;
    align-self: center;
    margin-right: 5px;
    margin-bottom: 5px;
    color: black;
    transition: transform 0.3s ease-in-out;
}

.search a img {
    width: 60px;
    height: 60px;
}

/* banner区域 */
.banner {
    margin-top: 35px;
    height: 600px;
    background-image: url(images/daohang.png);
    z-index: 2;
}

.introduce {
    display: flex;
}

.introduce p {
    display: inline;
    padding-left: 16px;
    width: 120px;
    color: rgb(255, 255, 255);
    font-size: 23px;
    margin-top: 25px;
}

.introduce ul {
    /* margin-left: 100px; */
    margin-bottom: 30px;
    padding-top: 25px;
    width: 100%;
    height: 60px;
    display: flex;
}

.introduce ul li {
    margin-left: 26px;
    transition: transform 0.3s ease-in-out;
}

.introduce ul li:hover {
    padding-bottom: 7px;
    border-bottom: 2px solid #fff;
}

.introduce ul li a {
    color: white;
    font-size: 23px;
    text-align: center;
}

/* 邓小平理论简介区域 */
/* .dxp {
    display: flex;
} */

.dxp a {
    display: inline-block;
    line-height: 30px;
    transition: transform 0.3s ease-in-out;
    margin-left: 20px;
    padding-bottom: 20px;
    margin-top: 5px;
    vertical-align: top;
}

.dxp a span img {
    width: 25px;
    height: 23px;
    vertical-align: middle;
    padding-bottom: 5px;
}

.dxp a span:hover {
    color: skyblue;
}

.dxp h1 {
    font-size: 48px;
    color: whitesmoke;
    display: inline-block;
}

.dxp span {
    padding: 8px;
    color: whitesmoke;
    font-size: 18px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
}

.dxp p {
    font-size: 26px;
    color: silver;
    display: block;
    margin-top: 10px;
}

.dxp .p2 {
    font-size: 16px;
    color: whitesmoke;
}

.xingtu h2 {
    margin-top: 30px;
    color: whitesmoke;
    margin-bottom: 15px;
}

.fangkuang {
    padding: 15px;
    border: 1px solid #E6E6E6;
}

.fangkuang a {
    display: inline-block;
}

.fangkuang a h3 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    color: whitesmoke;
}

.fangkuang a h3:hover {
    color: skyblue;
}

.fangkuang img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.fangkuang ul a li {
    margin-right: 15px;
    display: flex;
    width: 240px;
}

.fangkuang li p {
    display: inline-block;
    height: 30px;
    color: whitesmoke;
    text-align: center;
    line-height: 30px;
    transition: transform 0.3s ease-in-out;
}

.fangkuang ul a li span {
    display: block;
    font-style: italic;
    font-size: 12px;
    color: rgb(237, 237, 237);
}

/* 简介区域 */
.jianjie {
    background-color: #BD1A2D;
}

.jianjie .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.jianjie .wrapper .left {
    margin-bottom: 50px;
    line-height: 40px;
    margin-left: 80px;
}

.jianjie .wrapper dt {
    color: #a5a3a3;
    font-size: 20px;
}

.jianjie .wrapper dd {
    padding-left: 20px;
    color: white;
    font-size: 20px;
    width: 39%;
}

.jianjie .wrapper .left .time {
    width: 37.4%;
}

.jianjie .wrapper dl dt,
dd {
    border-bottom: 2px dashed #a5a3a3;
    display: inline-block;
}

/* 内容区域 */
.content {
    background-color: #BD1A2D;
}

.content .wrapper .one {
    display: flex;
    flex-direction: row;
}

.one span {
    flex: 1;
    border: none;
    padding-top: 16px;
    margin-left: 10px;
}

.one span .line {
    border-top: 1px solid #a5a3a3;

}

.one .duanluo {
    color: #fff;
    border-left: 16px solid #000;
    padding-left: 10px;
}

.content .wrapper .text {
    padding-bottom: 30px;
    display: flex;
    margin-top: 15px;
}

.text p {
    line-height: 30px;
    margin-bottom: 40px;
    color: white;
}

.text p a {
    color: rgb(0, 234, 255);
}

.text p a:hover {
    border-bottom: 1px solid #0EDAEF;
}

.text img {
    width: 500px;
    height: 200px;
}

.text .ssqs {
    width: 500px;
    height: 300px;
}

.textimg {
    display: inline-block;
    width: 220px;
    height: 150px;
    background-image: url(images/tiananmen.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-top: -20px;
    margin-left: 1px;
}

.text .p .strong {
    color: darkgray;
    font-weight: bold;
}

.content .wrapper .bgi {
    background-image: url(images/beijing.png);
    background-repeat: no-repeat;
    /* background-size: cover; */

}

.content .wrapper .bgi .p p img {
    float: left;
}

.content .wrapper .text .p p .pic2 {
    float: right;
}

/* 版权区域 */
.banquan {
    width: 1690px;
    height: 130px;
    background-image: url(images/body_bg_2020\(1\).png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.banquan .wrapper p {
    padding-top: 10px;
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: 0.6rem;
    opacity: 0.75;
    margin-bottom: 0;
    text-transform: uppercase;
}


.xiazai {
    text-align: center;
}

.xiazai a {
    color: #3D3F40;
    margin-top: 10px;
    letter-spacing: 0.2rem;
    font-size: 0.6rem;
    opacity: 0.75;
    text-align: center;
    display: inline-block;
    padding: 10px;
    border: 1px solid;
}

.xiazai a:hover {
    transition: transform 0.3s ease-in-out;
    color: #0099ff;
    border: 1px solid #0099ff;
}

.banquan .wrapper p {
    color: #3D3F40;
    transition: transform 0.3s ease-in-out;
}
