/* 基础公共样式：清除默认样式 + 设置通用样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000026;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 版心居中 */
.wrapper {
    margin: 0 auto;
    width: 980px;
}

/* header */
.header {
    height: 62px;
    margin-top: 18px;
    margin-bottom: 20px;
}

/* logo 单击跳转首页,搜索引擎优化 */
.header .wrapper {
    display: flex;
    justify-content: space-between;
}

.logo a {
    display: block;
    width: 180px;
    height: 24px;
    font-size: 0;
    background-image: url(images/logo.png);
}

.input {
    display: flex;
    width: 210px;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 20px;

}

.input input {
    flex: 1;
    border: 0;
    background-color: #f5f5f5;
    outline: none;
    padding-right: -10px;
    margin-left: 20px;
}

.input a {
    width: 16px;
    height: 16px;
    align-self: center;
    background-image: url(images/search.png);
    margin-right: 8px;
}

/* nav 导航栏 */
.nav {
    height: 55px;
    background-image: linear-gradient(to top, #bbbb, #bebebe, #bfbfbf, #c4c4c4, #d5d5d5, #e6e6e6, #efefef, #fff);
    border-top: 1px solid #f0f0f0;
    box-shadow: 2px -1px 2px #333333;
}

.nav .wrapper ul {
    display: flex;
}

.nav .wrapper ul li {
    font-size: 16px;
    font-weight: 1000;
    width: 128px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-right: 1px solid #f0f0f0;
}

.nav .wrapper ul li:last-child {
    border-right: 0;
}

/* 大图区 */
.img .wrapper a {
    height: 664px;
    display: block;
    background-image: url(images/banner.png);
}

/* action */
.action {
    height: 33px;
    background-color: #fbfbfb;
    border: 1px solid #f0f0f0;
    margin-bottom: 15px;
}

.action .wrapper {
    display: flex;
    justify-content: space-between;
}

.action .wrapper span {
    font-size: 10px;
    text-align: center;
    line-height: 33px;
}

.action .wrapper span a {
    margin-left: 30px;
}

/* 列表 */
.introduce {
    height: 294px;
}

.introduce .wrapper .one {
    margin-right: 9px;
    width: 311px;
    height: 225px;
    border: 1px solid #efefef;
}

.introduce .wrapper .one h4 {
    /* display: block; */
    width: 311px;
    height: 30px;
    line-height: 30px;
    margin-top: 16px;
    font-weight: 700;
    font-size: 13px;
    color: #7ab800;
}

.introduce .wrapper .one h4 img {
    margin-right: 7px;
}

.introduce .wrapper .one ul {
    display: flex;
}

.introduce .one ul .lj,
.rj {
    margin-top: 60px;
}

.introduce .wrapper .one ul .lj {
    margin-left: 23px;
    margin-right: 60px;
}

.introduce .wrapper .one ul .rj {
    margin-left: 60px;
    margin-right: 23px;
}

/* two */
.introduce .wrapper {
    display: flex;
}

.introduce .wrapper .two {
    margin-right: 9px;
    width: 374px;
    height: 225px;
    border: 1px solid #efefef;
    /* display: flex; */
    justify-content: space-between;
}

.introduce .wrapper .two h4 {
    display: inline-block;
    width: 332px;
    height: 30px;
    margin-top: 14px;
    font-weight: 700;
    font-size: 13px;
    color: #7ab800;
    line-height: 30px;
}

.introduce .wrapper .two h4 img {
    margin-right: 7px;
    margin-left: 6px;
}

.introduce .wrapper .two .more {
    margin-right: 10px;
    margin-top: 16px;
    height: 30px;
    font-weight: 600;
    font-size: 12px;
}

.two ul {
    margin-left: 24px;
    margin-right: 18px;
}

.two ul li .red {
    color: red;
}

.two ul li {
    font-size: 10px;
    border-bottom: 1px dashed #dcdcdc;
    padding-bottom: 6px;
    padding-top: 6px;
    color: #666666;
}

.two ul li a {
    color: #666666;
}

.introduce .wrapper .three {
    width: 266px;
    height: 225px;
    border: 1px solid #efefef;
}

.introduce .wrapper .three h4 {
    display: inline-block;
    width: 266px;
    height: 30px;
    margin-top: 14px;
    font-weight: 700;
    font-size: 13px;
    color: #7ab800;
    line-height: 30px;
    margin-bottom: 9px;
}

.introduce .wrapper .three h4 img {
    margin-right: 7px;
    margin-left: 6px;
}

.three ul {
    margin-left: 27px;
}

.three ul li {
    line-height: 10px;
    font-size: 10px;
    border-left: 2px solid #7ab800;
    margin-bottom: 8px;
}

.three ul li a {
    padding-left: 3px;
    color: #666666;
}

.three .fir {
    margin-top: 40px;
    margin-left: 27px;
    font-size: 10px;
    color: #666666;
}

.three .sec {
    margin-top: 10px;
    font-size: 10px;
    margin-left: 27px;
    color: #666666;
}

/* bottom top */

.bottom {
    background-color: #2d2d2d;
    width: auto;
}

.bottom .top {
    padding-left: 20px;
    height: 220px;
    display: flex;
    justify-content: space-between;
}

.bottom .wrapper .top dl {
    padding-top: 14px;
}

.bottom .wrapper .top dl dt {
    color: white;
    font-size: 12px;
    margin-bottom: 22px;
}

.bottom .wrapper .top dl dd a {
    font-size: 11px;
    color: #707070;
}


/* bottom footer */
.bottom .footer {
    border-top: 1px dashed #707070;
    height: 85px;
}

.bottom .footer .wrapper p {
    font-size: 11px;
    color: black;
    margin-top: 10px;
    margin-bottom: 9px;
}

.bottom .footer .wrapper p {
    text-align: center;
}
