* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #000026;
}

/* 版心居中 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}

/* header区域 */
.header {
    background-color: #2b303b;
    height: 40px;
}

.header .wrapper a {
    /* 行转块,设置高居中对齐 */
    display: block;
    line-height: 40px;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
}

.header .wrapper ul {
    display: flex;
}

.header .wrapper ul li {
    margin-top: 14px;
    font-size: 10px;
    color: white;
    border-right: 1px solid white;
    line-height: 10px;
    padding-right: 9px;
    padding-left: 9px;
    text-align: center;
}

/* 列表,大图区 */
.listimg {
    background-color: #181c28;
    /* 直接加背景 */
    background-image: url(images/banner.png);
}

.listimg .wrapper .list {
    width: 248px;
    height: 479px;
    background-color: #1b2a3f;
    overflow: auto;
}

.listimg .wrapper .list ul {
    margin-top: 30px;
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 50px;
}

.list ul a li {
    margin-bottom: 25px;
    color: white;
    font-size: 13px;
}

.list ul a {
    display: flex;
    justify-content: space-between;
}

.list ul a span {
    color: white;
}

/* canter区域 */
.center {
    background-color: #fff;
    height: 740px;
}

.center .wrapper {
    background-color: #123;
    margin: 0 auto;
    width: 1200px;
}
